<li class="yum" id={{id}}>
    {{yum_name}}
    <button class="delete">EAT</button>
</li>
<script>

    $(".delete").on("click", function () {
        console.log("hi");
        console.log(this);
        
        var id = $(this).parent().attr("id");
        console.log(id);

        {{!-- $.ajax("/api/yums",{
            type: "POST",
            data: eatenFood
        }).then(
            function(){
                console.log("added new food");
                location.reload();
            }
        ) --}}

    });
</script>