<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Fantastic Yums!</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/friend.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/js/eat.js"></script>

</head>

<body>
    <div class="jumbotron">
        <h1>Fantastic Yums!</h1>
    </div>
    {{{body}}}
    <script>

        $(".eat").on("click", function () {
            console.log("hi");
            console.log(this);

            var id = $(this).parent().attr("id").trim();
            console.log(id);

            $.ajax({
                url: "/api/yums",
                method: "PUT",
                data: {
                    "id": id
                }
            }).then(
                function () {
                    console.log("added new food");
                    location.reload();
                }
            );

        });
    </script>
</body>

</html>