<div class="container row">
  <div class="col-lg-6 col-md-5 col-sm-12">
    <h2>Yums yet to eat!</h2>
    <ul id="uneaten">
      {{#each food}}
      {{#unless devoured}}
      {{> uneaten-food-block}}
      {{/unless}}
      {{/each}}
    </ul>
    <input type="text" name="newFood" id="newFood"><button id="submit">Add Food</button>
  </div>

  <div class="col-lg-6 col-md-7 col-sm-12">
    <h2>Yums previously devoured!</h2>
    <ul id="eaten">
      {{#each food}}
      {{#if devoured}}
      {{> eaten-food-block}}
      {{/if}}
      {{/each}}
    </ul>
  </div>

</div>
<script>
  $("#submit").on("click", function () {

    $.post("/api/yums", {
      yum_name: $("#newFood").val().trim()
   
    }).then(function (data) {

      location.reload();
    });
  });
</script>