<div class="container row">
  <div class="col-lg-6 col-md-5 col-sm-12">
    <h2>Yums yet to eat!</h2>

    <ul>
      {{#each yums}}
      {{#unless devoured}}
      {{> food-block}}
      {{/unless}}
      {{/each}}
    </ul>
    <input type="text" name="newFood"><button id="submit">Add Food</button>
  </div>

  <div class="col-lg-6 col-md-7 col-sm-12">
    <h2>Yums previously devoured!</h2>
    <ul>
      {{#each yums}}
      {{#if devoured}}
      {{> food-block}}
      {{/if}}
      {{/each}}
    </ul>
  </div>

</div>